<div class="container">
    <h1 class="text-center">Here are your liked houses!</h1>
    <div class="cards-flats-saved mt-5">
        <% if @flats %>
            <% if @flats.length > 1 %>
                <% @flats.each do |flat| %>
                    <div class="card-flat" style="width: 400px;">
                        <div class="main-part-card">
                            <img src="<%= flat.url%>" class="card-img-top" height="300">
                            <div class="card-body">
                                <h5 class="card-title"><%= flat.name %></h5>
                                <p><%= flat.address %></p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <p><%= flat.number_of_guests %></p>
                                    <p>Amount: <%= flat.price_cents %></p>
                                </div>
                            </div>
                        </div>
                        <div class="infos-card p-3 d-flex align-items-center justify-content-between">
                            <div><%= link_to "More info", flat_path(flat), class: "btn-rounder" %></div>
                            <% if current_user %>
                                <% if current_user.id == flat.user_id %>
                                    <div>
                                        <%= link_to "Edit", edit_flat_path(flat), class: "btn-rounder" %>
                                        <%= link_to "Destroy", flat_path(flat), class: "btn-rounder", remote: true, method: :delete %>
                                    </div>
                                <% else %>
                                    <span>❤</span>
                                <% end %>
                            <% end %>  
                        </div>
                    </div>
                <% end %>
            <% else %>
                <% if @flats != [] %>
                    <div class="card-flat" style="width: 400px;">
                        <div class="main-part-card">
                            <img src="<%= @flats.first.url%>" class="card-img-top" height="300">
                            <div class="card-body">
                                <h5 class="card-title"><%= @flats.first.name %></h5>
                                <p><%= @flats.first.address %></p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <p><%= @flats.first.number_of_guests %></p>
                                    <p>Amount: <%= @flats.first.price_cents %></p>
                                </div>
                            </div>
                        </div>
                        <div class="infos-card p-3 d-flex align-items-center justify-content-between">
                            <div><%= link_to "More info", flat_path(@flats.first), class: "btn-rounder" %></div>
                            <% if current_user %>
                                <% if current_user.id == @flats.first.user_id %>
                                    <div>
                                        <%= link_to "Edit", edit_flat_path(@flats.first), class: "btn-rounder" %>
                                        <%= link_to "Destroy", flat_path(@flats.first), class: "btn-rounder", method: :delete %>
                                    </div>
                                <% else %>
                                    <span>❤</span>
                                <% end %>
                            <% end %>  
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>