<div class="banner">
    <div class="background-show d-flex justify-content-around align-items-center">
        <div class="infos-intro d-flex justify-content-around align-items-center">
            <div class="infos-card">
                <div class="card-show">
                    <h3><%= @flat.name %></h3>
                    <p><%= @flat.address %></p>
                </div>
                <div class="card-show mt-3">
                    <h3>A bit more about this flat..</h3>
                    <p><%= @flat.description %></p>
                </div>
            </div>
            <div class="infos-rent mx-5">
                <div class="card-show">
                    <h4>Book this place!</h4>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">From:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="14/07/2021">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">To:</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="24/07/2021">
                    </div>
                    <button class="btn btn-success">Submit</button>
                </div>
                <div class="card-show  mt-5">
                    <h4>Details</h4>
                    <div class="d-flex">
                        <p style="margin-right: 20px;"><%= @flat.number_of_guests %> people</p>
                        <% price = @flat.price_cents / 100 %>
                        <p style="font-weight: 600;">Amount: £<%= price %>/day</p>
                    </div>
                </div>
                <div class="card-show mt-5" data-controller="amount">
                    <h4>Number of days</h4>
                    <div class="d-flex align-items-center mb-3" data-counter="<%= @counter%>" id="div-amount" data-controller="amount" data-price-flat="<%= @flat.price%>" data-id-flat="<%= @flat.id%>">
                        <button class="btn btn-primary sm" id="btn-minus" data-action="click->amount#minus">-</button>
                        <p class="mx-4" style="margin-top: 0px; margin-bottom: 0px" id="show-amount" data-amount-target="counter">1</p>
                        <button class="btn btn-primary sm" id="btn-plus" data-action="click->amount#plus">+</button>
                        <p id="total-amount" class="mx-3" data-amount-target="total">Total: £<%= @flat.price %></p>
                    </div>
                    <%= form_tag orders_path do %>
                        <%= hidden_field_tag 'flat_id', @flat.id %>
                        <%= hidden_field_tag 'amount_price', "" %>
                        <%= submit_tag 'Purchase', class: 'btn btn-outline-primary' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-4">
    <div id="map"
        style="width: 400px; height: 400px;margin-top: 150px;"
        data-marker="<%= @marker.to_json() %>"
        data-mapbox-api-key="<%= 'pk.eyJ1IjoiZmhhYmVydCIsImEiOiJja21jaTNwcW4yYnU3MnVudzh4MW1qZG44In0.xPhBbVlkXGGSE1WWb_d_ZA' %>"></div>
    </div>
<div class="d-flex justify-content-around" style="margin-top: 100px">
    <% if current_user.id != @owner_id %>
        <%= link_to "Chat", chatrooms_path(flat_id: @flat.id), class:"btn-chatroom", method: :post %>
    <% else %>
        <% if @chatrooms != [] %>
            <div class="card-show mt-5 p-4">
                <h2 class="text-center mb-3">You have some new chat for this flat!!</h2>
                <% @chatrooms.each do |chatroom| %>
                    <% client = User.find(chatroom.client_id) %>
                    <%= link_to "Chat with #{client.name}", chatroom_path(chatroom.id), class:"btn-chatroom"%>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
