<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.flat.url, width: '100%' %></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= @order.flat.name %></strong> for <strong><%= @order.amount %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= 'pk_test_51Is7I7HY7atuhjIomrNGFW4LniE5kbbhH1eqIaeQ0rM3Ayc6ZcIhleSrgtNDOn2av2G5P4sOQh8MlJTNw5lNpECj009RX8pEKR' %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>